@media(max-width:500px){
    .im{
        width: 400%;
    }
.mainpart{
    margin-top: 3rem;
}
.contain-3{
    margin-top: 3rem;
}
.contain-4{
    margin-top: 5rem;
}
.contain-5{
    margin-top: 5rem;
}
.mainpart-1{
    margin-top: 80rem;
}
.j{
    width: 400%;
}
.auth3{
    display: flex;
    flex-direction: column;
}
.au2{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}
.na{
    display: flex;
    width: 60%;
}
}